CI_ENVIRONMENT = production

app.baseURL = 'https://chilibooks.streampeg.com/'
app.indexPage = ''

database.default.hostname = 103.150.190.87
database.default.database = chilibooks
database.default.username = chilibooks
database.default.password = change-me
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_general_ci

encryption.key = change-me
